{
    "DataURL": "mongodb://localhost/logger",
    "CollectionName": "logs",
	"Cache": {
		"Vendor": "mongo",
    	"URL": "mongodb://localhost/ipgeolocator",
	    "Collection": "ipgeolocator"
	},
    "IPGeolocator": {
        "Vendor": "MaxMind",
        "MaxMindUserID": "<user id>",
        "MaxMindLicenseKey": "<license key>"
    }
}

