.spacer {
  clear: left;
}

.chart-container {
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;  
  opacity: 0;
  /*visibility: visible;*/
}

.dc-table {
	overflow: scroll;
	height: 300px;
}
